{{#each ideas}}
<div class="card card-body mt-2 mb-2">
    <h4>{{title}}</h4>
    <p>{{details}}</p>
    <a href="ideas/edit/{{id}}" class="btn btn-dark mb-2">Edit</a>
    <form action="/ideas/{{id}}?_method=DELETE" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="DELETE" class="btn btn-danger btn-block">
    </form>
</div>
    {{else}}
    <p>No ideas listed</p>
 {{/each}}